
// EVENTS INDEX

// search form
// .em-search-wrapper {
//     display: none;
// }

.page-events #main {
    width: 100%;
}


// EVENTS SEARCH

.em-events-search-form {
    background: white;
    padding: 2px 10px;
    @include breakpoint(sm) {padding: 2px 20px;}
}
div.css-search {
    background: transparent;
    border-color: $base7;
    padding: 0;
    max-width: 800px;
    div.em-search-main {
        position: relative;
        div.em-search-field {
            background: transparent;
            padding: 0;
            @include font-icon-base($family:"ios7-icon"); 
            @include font-size(28);
            @include breakpoint(sm) {@include font-size(36);}
            input {
                @include font-size(20);
                color: $quiet-color;
                @include breakpoint(sm) {@include font-size(24);}
                @include placeholder {
                    @include font-size(20);
                    line-height: 16px;
                    color: $quiet-color;
                    @include breakpoint(sm) {@include font-size(24);}
                }
            }
        }
        div.em-search-text {
            @extend %ios7-search;
        }
        div.em-search-geo {
            @extend %ios7-location;
            @include breakpoint(xs) {display: inline-block;}
        }
        .em-search-submit {
            @include font-icon-base($family:"ios7-icon"); 
            @include font-size(28);
            @extend %ios7-search;
            background: $base5;
            box-shadow: inherit;
            height: 40px;
            width: 40px;
            border-radius: 0;
            text-shadow: none;
            padding: 0;
            border: 0;
            margin: 0;
            top: 7px;
            right: 0;
            img {
                display: none;
            }
            &:hover {
                background: $teal;
            }
        }
    }
    &.has-advanced div.em-search-main {
        padding: 0;
    }
}



// events list

.css-events-list {
    @include fill-parent;
    p {
        margin: 0;
        line-height: 1.5;
    }
    a {
        color: $teal;
        &.button {
            margin: 0 0 1em 0;
        }
    }
    .event-list-header {
        display: none;
    }
    .event {
        padding: 10px 0;
        clear: both;
    }
    .event-header {
        @include breakpoint(sm) {@include span-columns(2);}
        .meta,
        .meta span {
            margin: 0;
            line-height: 1.5;
            // @include font-size($milli);
            color: $base5;
            display: inline-block;
            @include font-size($zeta);
            text-transform: uppercase;
            letter-spacing: $tracking;
            &:after {
                letter-spacing: 5px;
            }
            &:last-child:after {
                content: '';
            }
            a, a:visited {
                color: $base5;
                &:hover {
                    color: $text-color;
                }
            }
        }
        span {
            padding-right: 5px;
            @include breakpoint(sm) {display: block;}
        }
        .event-time {
            font-size: 75%;
            margin-top: .75em;
        }
    }
    .event-content {
        @include breakpoint(sm) {@include span-columns(14);}
    }
    .event-image {
        border: $frame-border;  
        img {
            display: block;
            margin: 0;
        }
        @include breakpoint(md) {float: right; width: 33%; height: auto; max-height: 300px; margin-left: 20px; margin-bottom: 10px;}
    }
    .event-title {
        margin: .75em 0 .25em;
        @include breakpoint(md) {margin-top: .25em;}
    }
    .event-location {
        color: $quiet-color;
        margin-bottom: 1em;
        span {
            display: block;
            @include breakpoint(xs) {display: inline; padding-right: 5px; &:after {content: ' /';}}
            &:last-child:after {content: '';}
        }
    }
    .event-description {
        margin-bottom: 1em;
    }
}

// powered by Event Manager credit
#em-wrapper > p:last-child {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 20px;
    clear: both;
    color: $base7;
}


// SINGLE EVENT PAGE

.single-event {
    .byline {
        display: none;
    }
    .event-image {
        border: $frame-border;
        max-height: 150px;
        overflow: hidden;
        margin-bottom: 1.5em;
        @include breakpoint(sm) {max-height: 300px;}
        img {
            border: 0;
            display: block;
        }
    }
    .event-details {
        @include breakpoint(sm) {float: left; width: 33%;}
        h4 span {
            @include breakpoint(sm) {display: block;}
        }
    }
    .date-time, 
    .location {
        margin: .75em 0;
        line-height: 1.5;
        @include breakpoint(sm) {margin-bottom: 1.5em;}        
        span {
            margin-right: 5px;
        }
    }
    .event-time,
    .location-address {
        font-size: 75%;
        display: block;
        @include breakpoint(sm) {margin-top: .75em;}        
    }
    .tools {
        margin: 1.5em 0;
        margin-right: 10px;
        @include breakpoint(sm) {margin-top: 2.25em;}        
    }
    .event-description {
        margin: 2em 0;
        @include breakpoint(sm) {padding-left: 34%; padding-right: 20px;}        
    }
    .event-map {
        border: $frame-border;
        margin: 1.5em 0;
        width: 100%;
        height: 220px;
        overflow: hidden;
    }
    .event-footer {
        clear: both;
    }
}

// categories list
ul.event-categories {
    margin: 0;
    margin-top: -18px;
    padding: 0;
    list-style: none;
    li {
        display: inline;
        margin-right: 20px;
    }
}

// booking form
.em-booking {
    margin: 10px 0px 30px 0px;
    background: $base8;
    background: rgba(0,0,0,.1);
}
.em-booking-form-details {
    padding: 30px;
}
.em-tickets-spaces {
    margin: 0;
}
.em-booking-form label {
    margin-bottom: 0;
}
.em-booking-form-details textarea {
    width: 300px;
}




// WIDGET

.widget_em_calendar .widgettitle {
  display: none;
}

table.em-calendar {
    width: 100%;
    margin-bottom: 20px;
    a, a:hover {
        padding: 0;
    }
    td.eventful-today,
    td.eventless-today {
        background: transparent !important;
        border: 1px solid $white;
    }
    td.eventless-pre,
    td.eventless-post {
        color: $base2;
    }
    
    td.eventful a, 
    td.eventful-today a {
        color: white;
        background: $anchor-color;
        &:hover {
            background-color: lighten($anchor-color, 10);
        }
    }
}


.all-events-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}



// HOME PAGE MODULE


.home-modules {
    .events-list,
    .widget_em_widget ul { // Added .widget_em_widget ul to apply styles to EM widget PEA 1/24/2015
        li {
          background: $teal;
          color: $white;
          max-height: 100px; 
          overflow: hidden;
          margin-bottom: 20px;
          @include transition(background 0.25s ease);
        	@include breakpoint(xs) {@include span-columns(8); @include omega(2n); display: inline-block; }
        	@include breakpoint(sm) {@include span-columns(4); @include omega-reset(2n); @include omega(4n);}
            &:hover {
                background: $navy;
                cursor: pointer;
            }
        }
        .event-promo {
            background: lighten($teal, 10);
            height: 100px;
            a {
                display: block;
                color: $white;
                text-align: center;
                line-height: 95px;
            }
        }
    }
    .event-start {
        float: left;
        width: 24%;
        text-align: center;
        color: white;
        border-right: 1px solid $white;
        border-right: 1px solid rgba(255,255,255,.3);
        margin: 0 10px 0 0;
        padding: 10px 0;
        line-height: 1.1;
        .event-date {
            display: block;
            font-size: 250%;
        }
    }
    .event-title {
        width: 70%;
        margin: 0;
        padding: 10px 0;
        max-height: 90px; 
        overflow: hidden;
        @include breakpoint(xs) {@include font-size(20); line-height: 1.3; }
        a {
            display: block;
            color: $white;
        }
    }
}

